<h1>Stats</h1>

<% crimeStat.forEach(function(stat) { %>
  <div class="well">
    <h3><%= stat.date %></h3>
    <h3><%= stat.block %></h3>
    <h3><%= stat.iucrDescription %></h3>
    <h3><%= stat.xCoordinate %></h3>
    <h3><%= stat.yCoordinate %></h3>
    <h3><%= stat.latitude %></h3>
    <h3><%= stat.longitude %></h3>
  </div>

<% }); %>
