<div class="container">
  <div class="well">
    <h3>You are currently logged in as: </h3>
    <h4 class="indent">Name: <%= user.name %> </h4>
    <h4 class="indent">Email: <%= user.email %> </h4>

    <h3>Saved Addresses</h3>
    <% user.addresses.forEach(function(address) { %>
    <div>
      <a href="/general/address/<%=address.id%>/edit">
        <span class="glyphicon glyphicon-edit" style="color: black"></span>
      </a>
      <a href="/general/address/<%=address.id%>" class="delete-link">
        <span class="glyphicon glyphicon-trash" style="color: red"></span>
      </a>
      <span><%= address.address %></span>
    </div>
    <% }); %>
  </div>
  <a href="/crime/show">Go back to the map</a>
</div>
